body{
    background: rgb(99, 200, 218);
}
#container{
    width: 25%;
    height: 30%;
    background-color: rgb(34, 168, 52);
    margin-left: 35%;
    margin-top: 2%;
    box-sizing: border-box;
    border: 10px solid rgb(34, 168, 52);
}

#container input{
    display: block;
    height: 40px;
    width: 70%; 
    margin:5% 15%;    
       
}

#container button{
    display: block;
    height: 30%;
    width: 70%; 
    margin:5% 15%;  
}

#note{
    background: #fff;
}

